/*
 Theme Name:   Roxima Child
 Theme URI: http://www.cssigniter.com/ignite/themes/roxima
 Description:  Cycling Adventures Landing Page
 Author:       Stessaonda.net
 Author URI:   https://stessaonda.net
 Template:     roxima
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  roxima-child
*/


/* -----------------------------------------
	03. Header
----------------------------------------- */
.header {
  background-color: #FFF;
  padding: 0;
  width: 100%;
  transition: padding 0.18s ease, border-color 0.18s ease;
  border-bottom: none;
}

@media (min-width: 768px) {
  .header.stuck {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }
  .header.shrunk {
    padding: 0px;
    border-color: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: 'Hind', sans-serif;
  color: #453E38;
  text-rendering: optimizeLegibility;
}



p {
  font-family: 'Hind', sans-serif;
  font-size: 18px;
  font-weight: 300;
}




input,
textarea {
  display: inline-block;
  font-size: inherit;
  width: 100%;
  max-width: 100%;
  height: 50px;
  font-weight: bold;
  padding: 6px 12px;
  box-shadow: none;
  line-height: normal;
  border-radius: 5px;
  background-image: none;
  font-family: 'Hind', sans-serif;
  -webkit-transition: color 0.18s ease, background-color 0.18s ease;
  transition: color 0.18s ease, background-color 0.18s ease;
  background-color: #f8f8f8;
  border: 1px solid #dedede;
}

form {

    font-family: 'Hind', sans-serif;
    text-shadow: none;
    text-transform: none;
    font-size: 18px;
    font-weight: 300;
}


@media (max-width: 767px) {
  p, form
   {
    font-size: 15px;
  }
}

.head-wrap {

  margin-bottom: 20px;
}

.row {

}
.container {

}

.item-price {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Hind', sans-serif;
  letter-spacing: 0em;
  line-height: normal;
  margin: -4px 0 3px;
  text-align: center;
}

.item-features {
  font-size: 14px;
  font-family: 'Hind', sans-serif;
}



.item-pricing-featured {
  border: 1px solid #ED145B;
  font-family: 'Hind', sans-serif;
  padding-top: 38px;
  padding-bottom: 40px;
  margin-top: -15px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
}

.item-subtitle {
  text-transform: uppercase;
  font-family: 'Hind', sans-serif;
  letter-spacing: 0.1em;
  font-size: 11px;
  opacity: 0.8;
  margin: -10px 0 20px;
  display: block;
}

h1, h2, h3, .widget-title, h4, h5, h6 {
  line-height: normal;
  margin: 0 0 30px 0;
  -ms-word-wrap:  break-word;
  word-wrap:  break-word;
  font-family: 'Hind', sans-serif;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.entry-content::before  {
    content: "";
    display: block;
    width: 30%;
    height: 1px;
    background-color: #454545;
    margin:auto;
    margin-bottom: 20px;
    margin-top:8px;
}


.entry-content h2 {
  line-height: normal;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 1.6em;
  text-transform: uppercase;
}

@media (max-width: 767px) {
.entry-content h2 {
    font-size: 14px;
  }
}


.btn, .comment-reply-link,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  display: inline-block;
  margin: 0;
  line-height: normal;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.18s background-color ease, color 0.18s ease, 0.18s border-color ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: auto;
  height: auto;
  background-image: none;
  font-family: 'Hind', sans-serif;
  text-transform: uppercase;
  padding: 14px 44px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1em;
  background-color: #ECB800;
  color: #FFF;
}


@media (max-width: 767px) {
  .btn, .comment-reply-link,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button
   {
    font-size: 12px;
    padding: 10px 20px;

  }
}


  /* Global Menu Link Styles */

  /* -----------------------------------------
  	02. Main Navigation
  ----------------------------------------- */
  .nav {
    display: table-cell;
    vertical-align:bottom;
    width: 75%;

  }


  .nav, .navigation {
    text-align: right;

  }



.navigation a {
  text-transform: uppercase;
  color: #453E38;
  font-family: 'Hind', sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.05em;


}

/* Global Menu Link Styles */

.navigation a:hover {
    color: #ECB800;
}


.navigation a:hover,
.navigation .sfHover > a {
text-decoration: none;
/* First Level & Global Menu Link Hover Styles */
}

.navigation > li > a {
border-bottom: 2px solid transparent;
margin-left: 30px;
/* First Level Menu Link Styles */
}

.navigation > li ul a {
padding: 8px 15px;
border-bottom: 1px solid #dedede;
/* All Other Menu Level Link Styles */
}

.navigation > li ul a:hover,
.navigation > li ul .sfHover > a {
/* All Other Level Menu Link Hover Styles */
}
.navigation > li.current-menu-item > a,
.navigation > li.current-menu-ancestor > a,
.navigation > li.current-menu-parent > a {
border-bottom: 2px solid #ECB800;
}
.home .navigation > li.current-menu-item > a, .home
.navigation > li.current-menu-ancestor > a, .home
.navigation > li.current-menu-parent > a {
border-bottom-color: transparent;
}
.home .navigation > li.current-menu-item > a:hover, .home
.navigation > li.current-menu-ancestor > a:hover, .home
.navigation > li.current-menu-parent > a:hover {
border-bottom-color: #ECB800;
}
.navigation > li > a:hover,
.navigation > li.sfHover > a,
.navigation > li.sfHover > a:active {
border-bottom: 2px solid #ECB800;
}
.navigation > li.current > a {
border-bottom-color: #ECB800 !important;
}



#mobilemenu {
  background-color: white;
}

#mobilemenu .mm-title {
  text-transform: uppercase;
  color: #453E38;
  font-family: 'Hind', sans-serif;
  font-weight:600;
}

#mobilemenu .mm-listview {
  text-transform: uppercase;
  font-family: 'Hind', sans-serif;
  font-size: 11px;
  color: #453E38;
  letter-spacing: 0.8px;
}



.item-title {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0em;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  margin: 0 0 10px;
  font-style: normal;
  display: block;
}

.hero-title {
  text-align: center;
  font-size: 3em;
  font-family: 'Hind', sans-serif;
  line-height: normal;
  margin: 0;
  -ms-word-wrap:  break-word;
  word-wrap:  break-word;
  letter-spacing: 0em;
  text-shadow: none;
  text-transform: uppercase;
}


@media (max-width: 767px) {
  .hero-title {
    font-size: 1.5em;
  }
}


  .site-tagline {
    text-transform: none;
    color: #fff;
    letter-spacing: 0em;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-top: 1.0em;
    background-color: #453E38;
    display: inline-block;
    line-height: normal;
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: none;
    text-align: right;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 10px 20px 10px;
    letter-spacing: 0.1em;
    margin:0px;


}



.mobile-trigger {
  text-transform: uppercase;
  font-family: 'Hind', sans-serif;
  color: #453E38;
  display: none;
  float:right;
  font-size: 14px;
}




.rowTagline {
  text-align: right;
}

.logo-wrap {
  display: table-cell;
  vertical-align: middle;
  width: 25%;
}

.site-logo {
  margin: 0;
  line-height: 1;
  font-size: 22px;
  text-transform: uppercase;
}

/* -----------------------------------------
	11. Global Mediaqueries
----------------------------------------- */
@media (max-width: 1199px) {
  .main-slider {
    height: 700px;
  }

  .navigation {
    display: block;
  }

}
@media (max-width: 991px) {
  .main-slider {
    height: 540px;
  }

  .item-pricing-featured {
    margin-top: 0;
    padding: 23px 15px;
  }

  .site-tagline {
    display: none;
  }

  .navigation {
    display: none;
  }

  .mobile-trigger {
    display: inline-block;
  }

  .mobile-trigger-before::before {
    content: "Rennradreise Toskana";
    display: inline-block;
    -ms-word-wrap:  break-word;
    word-wrap:  break-word;
    width: 85%;
    float:left;
    border:1px solid white;
  }

  .sidebar {
    margin-top: 50px;
  }

  .site-logo {
    margin-top: 15px
  }

  .logo-wrap {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }

}
@media (max-width: 767px) {
  .main {
    padding: 40px 0;
  }
  .main.main-home {
    padding: 0;
  }

  .main-slider .ci-direction-nav {
    display: block;
  }
  .ci-direction-nav a {
    width: 50%;
    height: 50%;
  }


  .mobile-trigger {
    font-size: 14px;
  }

}


@media (max-width: 639px) {
  .mobile-trigger {
    font-size: 13px;
  }

  @media (max-width: 479px) {
    .mobile-trigger {
      font-size: 12px;
    }
    .main-slider {
      height: 440px;
    }

}




#paging li span {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  padding: 12px 18px;
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  margin: 0 3px 5px 0;
  line-height: normal;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #453E38;
}


.section-title {
  text-align: center;
  font-size: 3em;
  font-family: 'Hind', sans-serif;
  font-weight: 900;
  text-transform: none;
  line-height:1.2em;
  margin: 0 0 15px 0;
  -ms-word-wrap:  break-word;
  word-wrap:  break-word;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 1.5em;
  }
}

.section-subtitle::before  {
    content: "";
    display: block;
    width: 30%;
    height: 1px;
    background-color: #454545;
    margin:auto;
    margin-bottom: 18px;
    margin-top:18px;
}


  .section-subtitle {
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-weight: 100;
    letter-spacing: 0em;
    font-size: 1.6em;
    text-transform: uppercase;
    line-height:1em;
  }



  @media (max-width: 767px) {
    .section-subtitle {
      font-size: 1.1em;
      line-height:1.5em;
    }
  }



.main-slider .section-title {
  text-align: center;
  font-size: 4em;
  font-family: 'Hind', sans-serif;
  line-height:1em;
  margin: 0 0 0px 0;
  -ms-word-wrap: break-word;
  word-wrap:  break-word;
  letter-spacing: 0.1em;

  }

  @media (max-width: 767px) {
    .main-slider .section-title {
      font-size: 2.2em;
      line-height:1.2em;
    }
  }

.main-slider .section-subtitle {
  text-align: center;
  font-size: 1.4em;
  font-family: 'Hind', sans-serif;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  line-height:1.5em;
  font-style: normal;
  margin-top:20px;

}

@media (max-width: 767px) {
  .main-slider .section-subtitle {
    font-size: 1.1em;

  }
}

.main-slider .section-subtitle::before  {
    content: "";
    display: block;
    width: 30%;
    height: 1px;
    background-color: #FFFFFF;
    margin-bottom: 18px;
}



.map-toggle {
  position: absolute;
  top: 60px;
  z-index: 10;
  right: 0;
  font-family: 'Hind', sans-serif;
  padding: 8px 20px;
  font-weight: bold;
  letter-spacing: 0em;
  border-radius: 2px;
  color: #FFF;
  background-color: #ED145B;
}



.widget_recent_entries ul li a {
  text-transform: uppercase;
  letter-spacing: 0em;
  font-size: 11px;
  display: block;
  padding: 11px 0;
  border-bottom: 1px solid #dedede;
}

.widget-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}


/* Social Icons
=================================== */
.social-icon {
  width: 26px;
  height: 26px;
  line-height: 26px;
  background-color: transparent;
  color: inherit;
  border: 1px solid #bbb;
  font-size: 12px;
  border-radius: 26px;
  text-align: center;
  display: inline-block;
  opacity: 0.4;
  -webkit-transition: all 0.18s ease;
  transition: all 0.18s ease;
  margin: 0 2px;
}

.social-icon:hover {
  opacity: 1;
  color: #FFF;
  border-color: #fff;

}

.item-thumb-round img {
  border-radius: 50%;
  padding: 5px;
  background-color: #FFF;
  border: 1px solid #ccc;
}


.item-team:before {
  content: "ï¼‹";
  position: absolute;
  color: #FFF;
  line-height: 1;
  top: 50%;
  left: 50%;
  font-size: 50px;
  z-index: -1;
  font-weight: 300;
  margin: -50px 0 0 -25px;
  opacity: 0;
  cursor: pointer;
  transition: all 0.25s ease;
}

.item-team:after {
  content: "";
  position: absolute;
  transition: all 0.18s ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  height: 0;
  cursor: pointer;

}

.item-team:hover:before {
  opacity: 1;
  z-index: 2;
}
